.navbar {
    background-color: #333;
    height: 60px;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .nav-link {
    color: #fff;
    padding: 0.5rem 1rem;
  }
  
  .nav-link:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown-menu {
    position: absolute;
    z-index: 1;
    display: none;
    background-color: #fff;
  }
  
  .dropdown-item {
    color: #333;
    padding: 0.5rem 1rem;
  }
  
  .dropdown-item:hover {
    color: #fff;
    background-color: #333;
  }
  